{% load static %}
            <div class="bottom-navs">
                <hr class="btm-navs">
                    <p>
                        <a href="{% url 'about' %}">Arnel Imperial</a> &#8226;
                        <a href="{% url 'draft_list' %}">draft</a> &#8226;
                        <a href="{% url 'contact_form' %}">contact</a> &#8226;
                        <a href="{% url 'home' %}">home</a> 
                    </p>
            </div> 