{% load static %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="description" content="Arnel Imperial's internet site - Contact Page.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link rel="canonical" href="https://arnelimperial.com">
        <link type="text/plain" rel="author" href="https://arnelimperial.com/humans.txt"> 
        <meta name="referrer" content="no-referrer" />
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <!--===============================================================================================-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'vendor-form/bootstrap/css/bootstrap.min.css' %}"> {% endcomment %}
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor-form/animate/animate.min.css' %}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor-form/css-hamburgers/hamburgers.min.css' %}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor-form/select2/select2.min.css' %}">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/util.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
        <!--===============================================================================================-->
        <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}img/icons/48/favicon.ico">
        <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}img/icons/96/favicon.ico">
        <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}img/icons/128/favicon.ico">
        <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}img/icons/48/favicon.ico">
        <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}img/icons/48/favicon.ico">
        <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}img/icons/48/favicon.ico">
        <meta name="msapplication-TileColor" content="#383b31">
        <meta name="theme-color" content="#ffffff">
        <link rel="manifest" href="{% static 'img/icons/site.webmanifest' %}">
        <!--===============================================================================================-->
        <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p:300|Play&display=swap" rel="stylesheet">
        
    </head>