{% load static %}
    <script async src="{% static 'js/vendor/modernizr-3.7.1.min.js' %}"></script>
    <script async src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-3.4.1.min.js' %}"><\/script>')</script>
    {% comment %} <script src="{% static 'vendor-form/bootstrap/js/bootstrap.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'vendor-form/bootstrap/js/popper.min.js' %}"></script> {% endcomment %}


    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script async src="{% static 'js/plugins.min.js' %}"></script>
    <script src="{% static 'js/main-form.min.js' %}"></script>
    <script src="{% static 'vendor-form/select2/select2.min.js' %}"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    

