{% extends "pages/base.html" %}
{% block content %}
        <div class="wrapper">
            <div id="title" class="about-section">
                {{ title }}
            </div>
            <div id="content" class="about-section">
                <p class="sub-content">
                    Hello, I'm Arnel and welcome to my internet site. What I've been up to these days often, 
                    I teach myself how to code and keeps on practicing what I've learned. 
                    I am keen on this because it's a worthwhile activity and I have fun.
                </p>
                <p class="sub-content">
                    I've never done coding back then, but it leads me to this path as a 
                    consequence of my curiosity concerning technology and how others use it to solve problems.
                    This search commenced throughout my participation in an <a class="credentials" href="https://od.lk/f/ODhfODQ1NzAyMV8" target="_blank">ICT Open study</a> (2017).
                </p>
                <p id="info">
                    <i class="fas fa-info-circle" style="font-size: 24px;color: #b3b3b3;"></i><br>
                    Interest: Web Development<br>
                    Tools: Python/Django<br>
                    Work(Current): Culinarian<br>
                    Work(Past): Food Technologist<br>
                    Degree: B.S. Food Technology<br>
                    Vocational: Culinary Arts<br>
                    Born and raised in: Philippines<br>
                
                </p>
                <p><i class="fas fa-link" style="font-sice: 24px; color: #b3b3b3;"></i> Links</p>
                <p><i class="fab fa-github"></i> <a class="social-link" target="_blank" href="https://github.com/arnelimperial"> @arnelimperial</a></p>
                <p><i class="fab fa-bitbucket"></i> <a class="social-link" target="_blank" href="https://bitbucket.org/arnelimperial/"> @arnelimperial</a></p>
                <p><i class="fab fa-twitter"></i> <a class="social-link" target="_blank" href="https://twitter.com/ArnelGImperial"> @ArnelGImperial</a></p>
                <p><i class="fab fa-linkedin"></i> <a class="social-link" target="_blank" href="https://www.linkedin.com/in/arnelimperial"> Linkedin</a></p>
                <p><i class="fab fa-facebook"></i> <a class="social-link" target="_blank" href="https://www.facebook.com/arnel.imperial.3323"> Facebook</a></p>
            </div>

        {% include "partials/footer.html" %}
        </div>
{% endblock content %}