{% extends "pages/base.html" %}
{% load static %}
{% block content %}
	{% if request.user.is_authenticated %}
		<p> You are login {{ request.user }}</p>
	{% endif %}
	<div class="main-section">
		<div class="navs proj">
			<h1>
				<a href="{% url 'home' %}">
					<span {% if request.user.is_authenticated %}class="text-red" {% endif %}>Arnel Imperial</span>
				</a>
			</h1>
		</div>
		<div class="navs project">
			<a href="{% url 'about' %}">about</a>
		</div>
		<div class="navs proj">
			<a href="{% url 'draft_list' %}">draft</a>
		</div>
		<div class="navs proj">
			<a href="{% url 'contact_form' %}">contact</a>
		</div>
	</div>
{% endblock content %}
