{% extends "draft/base.html" %}
{% block content %}
    <div class="container">
         {% if request.user.is_authenticated %}
        <nav class="nav nav-pills flex-column flex-sm-row">
            <a class="flex-sm-fill text-sm-center nav-link text-light" href="{% url 'draft_list' %}">Draft List</a>
            <a class="flex-sm-fill text-sm-center nav-link text-light" href="{% url 'draft_create' %}">Draft Form</a>
            <a class="flex-sm-fill text-sm-center nav-link text-light" href="{% url 'draft_update' draft.slug %}">Draft Update Form</a>
            <a class="flex-sm-fill text-sm-center nav-link text-light" href="{% url 'draft_delete' draft.slug %}">Delete Draft</a>
        </nav>

        {% endif %}
        <div id="title" class="about-section">{{ title }}</div>
        <div>
            <div id="draft-content" class="about-section">
                <h3>{{ object.title }}</h3>
                <small><i class="fa fa-bullhorn"></i> {{ object.created_date }}</small>
                <small><i class="fas fa-sync-alt"></i> {{ object.updated_date }}</p>
                <small>By: <a href="{% url 'about' %}">Arnel Imperial</a></small>
            </div>
            <div id="draft-content">
                <p class="sub-content">{{ object.content }}</p>
            </div>
            <div id="draft-content">
                <p class="sub-content">{{ object.text }}</p>
            </div>
            <div id="draft-content">
                <p class="sub-content">{{ object.code }}</p>
            </div>
    
        </div>
        <div>
            {% include "partials/footer.html" %}
        </div>
    </div>

{% endblock content %}
