{% extends "draft/base.html" %}
{% load static %}

{% block content %}
    <div class="wrapper">
        {% if request.user.is_authenticated %}
        <nav class="nav nav-pills flex-column flex-sm-row">
            <a class="flex-sm-fill text-sm-center nav-link text-light" href="{% url 'draft_list' %}">Draft List</a>
            <a class="flex-sm-fill text-sm-center nav-link text-light" href="{% url 'draft_create' %}">Draft Form</a>
        </nav>

        {% endif %}
        <div id="title" class="about-section">{{ title }}</div>
        <div>
            {% for draft in draft_lists %}
            <article>
                <div id="draft-content" class="about-section">
                    <h4><a href="{{ draft.get_absolute_url }}">{{ draft.title }}</a></h4>
                    <small><i class="fa fa-bullhorn"></i> {{ draft.created_date }}</small>
                    <small><i class="fas fa-sync-alt"></i> {{ draft.updated_date }}</p>
                </div>
                <div id="draft-content">
                    <p class="sub-content">{{ draft.description }}</p>
                </div>
            </article>
            {% endfor %}

        </div>
        <div>
            {% include "partials/footer.html" %}
        </div>
    </div>
    
{% endblock content %}




