{% extends "draft/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}
    <div class="container">
        {% if request.user.is_authenticated %}
        <nav class="nav nav-pills flex-column flex-sm-row">
            <a class="flex-sm-fill text-sm-center nav-link text-light" href="{% url 'draft_list' %}">Draft List</a>
            
        </nav>
        {% endif %}
        <div class="card mt-5">
            <div class="card-body">
                <form style="margin: 50px 10px 40px 10px;" action="." method="POST" class="contact2-form validate-form" enctype="multipart/form-data" autocomplete="off" novalidate>
                    {% csrf_token %}
                    <div class="container">
                        {% include 'partials/messages.html' %}
                        <h2>Draft Delete {{ object.title }}</h2>
                        <button type="submit" class="btn btn-danger text-danger">DELETE DRAFT</button>
                        <a class="btn btn-warning text-warning" href="{% url 'draft_detail' draft.slug %}">Cancel</a>
                    </div>
                </form>
            </div>

        </div>
         <div>
            {% include "partials/footer.html" %}
        </div>

    </div>

{% endblock content %}



