{% extends "draft/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}
    <div class="container">
        {% if request.user.is_authenticated %}
        <nav class="nav nav-pills flex-column flex-sm-row">
            <a class="flex-sm-fill text-sm-center nav-link text-light" href="{% url 'draft_list' %}">Draft List</a>
            
        </nav>
        {% endif %}
        {% url 'draft_create' as create %}
        {% url 'draft_update' draft.slug as update %}
        <div class="card mt-5">
            <div class="card-body">
                <form style="margin: 50px 10px 40px 10px;" action="." method="POST" class="contact2-form validate-form" enctype="multipart/form-data" autocomplete="off" novalidate>
                    {% csrf_token %}
                    <div class="container">
                        {% include 'partials/messages.html' %}
                        {% if request.get_full_path == create %}
                           <h2>Create Draft Form</h2>
                        {% elif request.path == update %}
                            <h2>Update Draft Form</h2>
                        {% endif %}
                        
                            {{ form|crispy }}
                           
                            {% if request.get_full_path == create %}
                                <button type="submit" class="btn btn-primary">CREATE DRAFT</button>
                            {% elif request.path == update %}
                            <button type="submit" class="btn btn-primary">UPDATE DRAFT</button>
                            {% endif %}
                            
                    </div>
                </form>
            </div>

        </div>
         <div>
            {% include "partials/footer.html" %}
        </div>

    </div>

{% endblock content %}



