{% extends "contact_form/base-form.html" %}
{% block title %} Message Sent {% endblock %}
{% load static %}
{% load i18n %}
{% block content %}

 <span class="contact2-form-title">{{ title }}</span>
 <div class="container">
    {% include 'partials/messages.html' %}
</div>

<div class="container alert alert-success">
    <img src="{% static 'img/img-01.png' %}" height="150" alt="Email sent icon">
    <h4 class="text-light">Thank you!</h4>
    <p class="text-light">Arnel will get in touch with you as soon as possible.</p>
    <small class="text-light">Your message copy will be sent to your email inbox.</small><br>
    <small class="text-light">Sender name: {{ request.session.name }}</small><br>
    <small class="text-light">Sender e-mail: {{ request.session.email }}</small><br>
</div>
{% endblock content %}