{% extends "contact_form/base-form.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
        {% comment %} <form action="{% url 'contact_form' %}" method="POST" class="validate-form" enctype="multipart/form-data" autocomplete="off" novalidate>
            {% csrf_token %}
            {% include 'partials/messages.html' %}
            <span class="contact2-form-title">Contact</span>
                    {{ form|crispy }}
                    <div class="container-contact2-form-btn" style="margin-bottom: 150px;">
                        <div class="wrap-contact2-form-btn">
                            <div class="contact2-form-bgbtn"></div>
                                <button class="contact2-form-btn">
                                    SEND
                                </button>
                        </div>
                    </div>
        </form> {% endcomment %}

 <form action="{% url 'contact_form' %}" method="POST" class="validate-form" enctype="multipart/form-data" autocomplete="off" novalidate>
    {% csrf_token %}
    {% include 'partials/messages.html' %}
    <span class="contact2-form-title">Contact</span>
    {{ form|crispy }}
    <div class="pl-3 pt-3">
        <button class="btn btn-block btn-light text-light">SEND</button>
    
    </div>
    
                    
        </form>
{% endblock content %}



