{% extends "base-form.html" %}
{% block title %} 404 Page not found {% endblock %}
{% load i18n %}
{% block content %}
     <h1>404</h1><br>
     <p style="color: #fff;">You entered a URL that doesn't exist on this site.</p><br>
     <p><a  style="color: #fff; border-bottom: 2px solid #fff;" href={% url 'home' %}>Return back to the main site.</a></p>

<!-- IE needs 512+ bytes: https://blogs.msdn.microsoft.com/ieinternals/2010/08/18/friendly-http-error-pages/ -->
                
{% endblock content %}



