{% extends "base-form.html" %}
{% block title %} 500 Internal Server Error {% endblock %}
{% load i18n %}
{% block content %}
     <h1>500 Internal Server Error</h1><br>
     <p style="color: #fff;">Sorry for not catching all the errors.</p><br>
     <p><a  style="color: #fff; border-bottom: 2px solid #fff;" href={% url 'home' %}>Return back to the main site.</a></p>

<!-- IE needs 512+ bytes: https://blogs.msdn.microsoft.com/ieinternals/2010/08/18/friendly-http-error-pages/ -->
                
{% endblock content %}



