{% load static %}
<!doctype html>
<html class="no-js" lang="en">
	{% include "partials/headform.html" %}
	<body>
		<div class="bg-contact2">
			<div class="container-contact2">
				<div class="wrap-contact2">
					{% block content %}{% endblock content %}
				</div>
				<div class="container">
					<div class="f-form">
						{% include "partials/footer-form.html" %}
					</div>
				<div>
			</div>
		</div>
			{% include "partials/scripts.html" %}
	</body>
</html>
