{% load static %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <title>Arnel Imperial - {{ title }}</title>
    <meta name="description" content="Arnel Imperial's internet site - {{ description }} - Hello, I'm Arnel and welcome to my internet site. What I've been up to these days often, I teach myself how to code and keeps on practicing what I've learned. I am keen on this because it's a worthwhile activity and I have fun. I've never done coding back then, but it leads me to this path as a consequence of my curiosity concerning technology and how others use it to solve problems.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="no-referrer">
    <link type="text/plain" rel="author" href="https://arnelimperial.com/humans.txt"> 
    <link rel="canonical" href="https://arnelimperial.com" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://arnelimperial.com/">
    <meta property="og:title" content="Arnel Imperial">
    <meta property="og:description" content="Arnel Imperial's internet site.">
    <meta property="og:image" content="">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://arnelimperial.com/">
    <meta property="twitter:title" content="Arnel Imperial">
    <meta property="twitter:description" content="Arnel Imperial's internet site.">
    <meta property="twitter:image" content="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'vendor-form/bootstrap/css/bootstrap.min.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p:300|Play&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}img/icons/48/favicon.ico">
    <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}img/icons/96/favicon.ico">
    <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}img/icons/128/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}img/icons/48/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}img/icons/48/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}img/icons/48/favicon.ico">
    <meta name="msapplication-TileColor" content="#383b31">
    <meta name="theme-color" content="#ffffff">
    <meta name="google-site-verification" content="{{ gtag }}">
    <meta name="msvalidate.01" content="74E92EB2E81FCFA7903EA51A0A4E48E7">
    <meta name="yandex-verification" content="f44332b8fafacaf2">
  </head>
  <body>
    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
      <div>
        {% block content %}{% endblock content %}
      </div>
        {% include "partials/scripts.html" %}
  </body>
</html>
